@import "tailwindcss";

@theme {
  --color-bg: #0c0c14;
  --color-surface: #13131f;
  --color-surface2: #1c1c2e;
  --color-border: #2a2a40;
  --color-purple: #7c3aed;
  --color-purple-mid: #9d5ff0;
  --color-purple-bright: #c084fc;
  --color-muted: #8884a8;

  
  --gradient-line: linear-gradient(
    to right,
    transparent,
    var(--purple-bright),
    transparent
  );
  --gradient-line2: linear-gradient(
    135deg,
    rgba(124, 58, 237, 0.12) 0%,
    rgba(28, 28, 46, 0.8) 100%
  );

  --font-orbitron: "Orbitron", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --text-fluid-sm: clamp(14px, 2vw, 18px);
  --text-fluid-md: clamp(18px, 3vw, 24px);
  --text-fluid-lg: clamp(24px, 3.5vw, 36px);
  --text-fluid-xl: clamp(32px, 4vw, 48px);
  --text-fluid-xxl: clamp(28px, 4vw, 52px);

  --animate-slowDrift: slowDrift 20s ease-in-out infinite alternate;
  @keyframes slowDrift {
    from {
      transform: scale(1.08) rotate(-2deg) translateY(0);
    }
    to {
      transform: scale(1.12) rotate(-2deg) translateY(-16px);
    }
  }

  --animate-fadeUp: fadeUp 0.9s ease both;
  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(32px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  --animate-shimmer: shimmer 4s linear infinite;
}

@keyframes shimmer {
    0% {
      background-position: 0% center;
    }
    100% {
      background-position: 200% center;
    }
  }

body {
  background-color: #0c0c14;
  color: #f0eef8;
  font-family: "Outfit", sans-serif;
  padding-top: 64px;
   overflow-x: hidden;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
